<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $(".first h1").nextAll().css("color","#ff0");
        $("header a").on({
            mouseenter: function(){
            $(this).css("background-color", "#f00");
            },  
            mouseleave: function(){
            $(this).css("background-color", "#000");
            }, 
            click: function(){
            $(this).css("background-color", "#0f0");
            }  
        });
        });
        </script>
		<title>AI & Data Apprenticeships | CambridgeSpark</title>
		<!--Include the above in your head tag-->
	</head>
	<body>
        <!--Using header section-->
		<header>
			<img src="bs.png">
			<div class="header">
				<a>For Individuals</a>	
				<a>For Organisations</a>	
				<a>Case Studies</a>	
				<a>About</a>	
				<a>Resources</a>	
				<a href="contact.html">Contact Us</a>	
			</div>
		</header>
        <!--Closing header section-->
        <!--Using main section-->
		<main>
            <div ng-app="abcd" ng-init="a=12;b=13" ng-controller="clp">
                <input type="number" ng-model="a">
                <input type="number" ng-model="b">
                <p>{{a+b}}</p>
                <p>{{a-b}}</p>
                <p>{{a*b}}</p>
                <h1 ng-repeat="x in mn | orderBy:'kl'">{{x.kl +', '+ x.lg}}</h1>
            </div>
            <script>
                angular.module('abcd',[]).controller('clp',function($scope){
                    $scope.mn=[
                        {kl:'London',lg:'Paris'},
                        {kl:'New York',lg:'Durban'},
                        {kl:'Washington',lg:'Texas'},
                        {kl:'Centurion',lg:'Los Angeles'}
                    ]
                });
            </script>
			<div class="empower">
				<div class="first">
					<h1>Empower your team with Data & AI skills</h1>
					<p>Upskill your workforce and accelerate your AI transformation with expert technical programmes designed to create impact.</p>
					<a href="cutshort.html">Secure Level 7 AI Before Funding Ends (Final Cohort)</a>
				</div>
				<div>
					<img src="as.jpg">
				</div>
			</div>
		</main>
        <!--Closing main section-->
        <!--Using footer section-->
        <footer>
            <div class="footer">
                <div class="our_solutions">
                    <div>
                        <h3>Our Solutions</h3>
                        <ul>
                            <li><a>Apprenticeships</a></li>
                            <li><a>Education Programmes</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>Resources</h3>
                        <ul>
                            <li><a>Webinars</a></li>
                            <li><a>News</a></li>
                            <li><a>Thought Leadership</a></li>
                            <li><a>Case studies</a></li>
                            <li><a>Podcast</a></li>
                        </ul>
                    </div>
                </div>
                <div class="about">
                    <div>
                        <h3>About</h3>
                        <ul>
                            <li><a>Who we are</a></li>
                            <li><a>Careers</a></li>
                            <li><a>EDUKATE.AI</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3>Our Policies</h3>
                        <ul>
                            <li><a>Equality Diversity & inclusion Policy</a></li>
                            <li><a>Safeguarding Statement</a></li>
                            <li><a>Prevent Policy</a></li>
                            <li><a>Whistleblowing policy</a></li>
                            <li><a>Net Zero Commitment</a></li>
                            <li><a>IAG Policy</a></li>
                            <li><a>Sparking Potential - Learner Support</a></li>
                            <li><a>Complaints Policy</a></li>
                        </ul>
                    </div>                    
                </div>
            </div>
            <div class="cambridge">
                <div class="first">
                    <img src="asl.png">
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-youtube"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
                <div>
                    <a>© 2025 Cambridge Spark Ltd.</a>
                    <a>Privacy Policy</a> 
                    <a>Cookies</a>
                </div>
            </div>
        </footer>
        <!--Closing footer section-->
	</body>
</html>