#ab{
    border: 1px solid gray;
    display: flex;
    justify-content: space-around;
}
#ab img{
    background-color: #000;
    padding: 20px;
    width: 100px;
    height: 100px;
}
.abc{
    background-color: #ff0;
    border: 1px solid #00f;
}