header{
    background-color: red;
}
.items{
    display: grid;
    flex-direction: column;
    place-content: center center;
    text-align: center;
}
p{
    border: 1px solid #000;
    padding: 20px;
}